<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojie.dianzan_demo.mapper.ZanMapper">

       <select id="selectList" resultType="com.zhaojie.dianzan_demo.bean.Zan">
           select * from zan
           <if test="zan!=null">
               where 1=1
               <if test="zan.name!=null and zan.name!=''">
                  and name like "%"#{zan.name}"%"
               </if>
           </if>
           GROUP BY id

       </select>
       <select id="upd" resultType="com.zhaojie.dianzan_demo.bean.Zan">
           select * from zan where id=${id}
       </select>
        <insert id="insertObject">
             insert into zan set id=#{id},name=#{name},title=#{title},zan=#{zan}
        </insert>
        <delete id="delAll">
	         delete from zan where id in(${id})
	    </delete>
        <update id="updObject">
             update zan set name=#{name},title=#{title},zan=#{zan} where id=#{id}
        </update>
        <select id="selObject" resultType="com.zhaojie.dianzan_demo.bean.Zan">
             select * from zan where id=${value}
        </select>

</mapper>